# Makefile + CMake ignores
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
main.plist
*.plist
*.a
_deps
.cache

# Latex ignores
*.aux
*.log

# Binary ignores
webserver
webserver_test
googletest

# Runtime ignores
key.txt
keywords.txt
*.pem
