CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
webserver
.cache
main.plist
*.plist
*.a
_deps
SourceCode_and_Documentation/test/webserver_test
webserver_test
